{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form class="login-form" method='POST'>
            {% csrf_token %}
            <h2>Welcome new user!</h2>
            {{form}}
          <div class="form-group mt-2">
            <input class="btn btn-primary mt-2" type="submit" value="Register!">
            <a class="btn btn-danger mt-2" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}